.error{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 24px;
    background-color: #C4D8E1;
}
.errorInfo{
    display: flex;
    gap: 50px;
    align-items: center;
}
.errorText{
    display: flex;
    flex-direction: column;
    gap: 27px;
    font-size: 32px;
    font-weight: 400;
    height: 100%;
    label{
        display: flex;
        justify-content: space-between;
        gap: 32px;
        color: #646464;
        font-size: 20px;
        font-weight: 400;
    }
}
.errorStatus{
    font-size: 32px;
    font-weight: 300;
}