.footer{
    background-color:  #A8CEE1;
    bottom: 0;
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
}
.footerContent{
    width: 100%;
    margin-left: 7.5vw;
    text-align: left;
}
.footerText{
    font-size: 20px;
}