.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    gap: 20px;
    background-color: #A7CDE0;
    border-radius: 16px;
    width: fit-content;
    padding: 92px 80px 93px 60px;
    transform: translate(-50%, -50%);
}
.formTitle{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.formCheckbox{
    accent-color: rgba(146, 201, 252, 0.678);
    margin-right: 5px;
}
.formInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    a{
        color: black;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        &:hover{
            color: #797979;
            transition: .3;
            opacity: .8;
            text-decoration: underline;
        }
    }
}

.inputIcon{
    position: absolute;
    width: 30px;
    right: 15px;
    top: 18px;

}

.huita{
    position: relative;
    vertical-align: middle;
    width: fit-content;
}