
.header{
    padding: 11px 0;
    background-color: rgba(157, 241, 241, 0.514);
    position: absolute;
    top: 0;
    width: 100%;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 68px;
    }
}

.headerBtns{
    display: flex;
    gap: 70px;
}

.headerBtn{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: rgb(0, 112, 112);
    border-color: rgb(0, 150, 155);
    font-size: 16px;
    &:hover{
        opacity: .8;
    }
}