<<<<<<< HEAD
<<<<<<<< HEAD:src/styles/LoginForm.css
=======
>>>>>>> a9aba66be58f97c6790cad0a472801d19ea976b8
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #A7CDE0;
    border-radius: 16px;
<<<<<<< HEAD
    width: fit-content;
    height: fit-content;
    padding: 45px;
=======
    width: 30vw;
    height: 45vh;
>>>>>>> a9aba66be58f97c6790cad0a472801d19ea976b8
}
.formTitle{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.formCheckbox{
    accent-color: rgba(146, 201, 252, 0.678);
    margin-right: 5px;
}
.formInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
<<<<<<< HEAD
    gap: 20px;
    border: 1px solid transparent;
    a{
        color: black;
        font-size: 16px;
=======
    border: 1px solid transparent;
    a{
        color: black;
        font-size: 12px;
>>>>>>> a9aba66be58f97c6790cad0a472801d19ea976b8
        font-weight: 400;
        text-decoration: none;
        &:hover{
            color: #797979;
            transition: .3;
            opacity: .8;
            text-decoration: underline;
        }
    }
}

.formInfoError{
    border: 1px solid;
    border-color: red;
}

.inputIcon{
    position: absolute;
    width: 30px;
    right: 15px;
    top: 18px;

}

.huita{
    position: relative;
    vertical-align: middle;
    width: fit-content;
}

.formContainer{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formInput{
    padding: 20px 10px;
    font-size: 24px;
    font-weight: 400;
    color: #797979;
    border-radius: 16px;
    border: 1px solid transparent;
    width: 490px;
    outline: none;
}

.formInputError{
    border: 1px solid red;
<<<<<<< HEAD
}
========
>>>>>>>> a9aba66be58f97c6790cad0a472801d19ea976b8:src/styles/Form.css
=======
}
>>>>>>> a9aba66be58f97c6790cad0a472801d19ea976b8
