@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
    --color-primary: #0C86FF;
    --color-bgDark: #62748E;
    --color-bgMiddle: #90A1B9;
    --color-bgModal: #CAD5E2;
    --color-bgLight: #E2E8F0;
    --color-tDark: #314158;
    --color-tLight: #1D1D1D;

    --color-primaryD: #5696FD;
    --color-bgDarkD: #101014;
    --color-bgMiddleD: #1C1C21;
    --color-bgModalD: #222227;
    --color-bgLightD: #28272D;
    --color-tDarkD: #646A7C;
    --color-tLightD: #E5E7EA;
}

* {
    font-family: "Commissioner", sans-serif;
}